body {
    background-image: url(img/52901.jpg);
}
.superficie{

    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 45px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 30px;
    opacity: 0.8;
    display: grid;
    grid-template-rows: 1fr 1fr ;
  
  }
  @media(max-width: 768px){

    .superficie{
    
      padding-bottom: 10px;

    }
  }

  
  .lenguajes{
background-color: black;
width: 82%;
height: 350px;
padding: 35px;
margin-left: 10%;
margin-right: 5%;
margin-bottom: 50px;


  }

@media(max-width: 768px){

.lenguajes{

  height: 1200px;
  margin-left: 0px;
}

}

  .framework{
background-color: black;
width: 82%;
height: 400px;
margin-left: 10%;
margin-right: 5%;
padding: 30px;

}


@media(max-width: 768px){

  .framework{
  
    height: 850px;
    margin-left: 0px;
  }
  
  }

img{

margin: 8px;

}