body {
    background-image: url(img/52901.jpg);
}
.trabajo1{

    margin-left: 10%;
    margin-right: 10%;
    
    }
    .trabajo2{
    
      margin-left: 10%;
      margin-right: 10%;
      
      }
      .trabajo3{
    
        margin-left: 10%;
        margin-right: 10%;
        
        }
        .trabajo4{
    
          margin-left: 10%;
          margin-right: 10%;
          
          }
    